{:deps {org.clojure/tools.logging {:mvn/version "0.3.1" :exclusions [org.clojure/clojure]}
        io.aleph/dirigiste        {:mvn/version "0.1.6-alpha1"}
        riddley/riddley           {:mvn/version "0.1.15"}}}
