{:lint-as {manifold.utils/definterface+ clojure.core/definterface
           manifold.utils/deftype+ clojure.core/deftype
           manifold.utils/defrecord+ clojure.core/defrecord
           manifold.utils/defprotocol+ clojure.core/defprotocol
           manifold.stream.core/def-source clojure.core/deftype
           manifold.stream.core/def-sink clojure.core/deftype
           manifold.stream.core/def-sink+source clojure.core/deftype}

 :hooks {:analyze-call
         {manifold.stream.core/def-source manifold.hooks/def-sink-or-source
          manifold.stream.core/def-sink manifold.hooks/def-sink-or-source
          manifold.stream.core/def-sink+source manifold.hooks/def-sink-or-source
          manifold.deferred/both manifold.hooks/both
          manifold.deferred/success-error-unrealized manifold.hooks/success-error-unrealized}}


:config-in-call {manifold.stream.core/def-sink+source
                 {:linters {:redefined-var {:level :off}}}

                 manifold.stream.core/def-sink
                 {:linters {:redefined-var {:level :off}}}

                 manifold.stream.core/def-source
                 {:linters {:redefined-var {:level :off}}}}

 :config-paths ["../resources/clj-kondo.exports/manifold/manifold/"]}
